* {
    margin: 0;
    padding: 0;
}


body {
    text-align: center;
    background-color: rgba(17, 14, 163, 0.3);
}

.cont {
    display: flex;
    justify-content: center;
    align-content: center;
}


.box {
    border-radius: 20%;
    margin: .5rem;
    height: 120px;
    width:120px;
    border:  3px solid black;
}

.box1 {
    background-color: #f1c40f;
}

.box2 {
    background-color: #e74c3c;
}

.box3 {
    background-color: #2ecc71;
}

.box4 {
    background-color: #3498db;
}

.game {
    /* background-color:rgb(29, 107, 175); */
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem;

    /* float: right;
    margin: 2rem 4rem 0  0; */
}

.gameFrame {
    box-shadow: 0rem 0 1rem #000;
    /* width: 26rem; */
    padding: 3rem 2rem;
    border-radius: 1rem;
    background-color: rgb(255 255 255 / 66%);
}


.heading {
    /* width: 100%; */
    /* background-color: aquamarine; */
    /* margin-top: 4rem; */
    font-size: 2.4rem;
}


.butt {
    /* width: 210px; */
    transition: 500ms;
    padding: 1rem 5.8rem;
    border-radius: .8rem;
    background-color: black;
    color: white;
    letter-spacing: .4rem;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 1.2rem;
}

.butt:hover {
    background-color: white;
    color: black;
}

.para {
    margin: 1.5rem auto;
    font-size: 1.2rem
}


.flashclass {
    background-color: white;
}

.flashclassbyuser{
    background-color: rgb(36, 158, 36);
} 

.wronge {
    background-color: red;
}

.para2 {
    margin: .5rem;
    font-size: 1.4rem;
}



.bgimg {
    height: 100rem;
    width: 100%;
    background-image: url(./img/bg.png);
    background-size: cover;
    position: relative;
    z-index: 1000;
}

.bgimg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: inherit;
    background-size: cover;
    filter: blur(9px); /* Adjust the blur strength as needed */
    z-index: -1;
}







@media (max-width : 740px) {
    
    .box {
        height: 100px;
        width: 100px;
        margin: 1.2rem;
    }

    .para {
        margin: .8rem auto;
        font-size: 20px
    }

    .heading {
        font-size: 2rem;
    }
    .butt {
        margin-top: 0rem;
        padding: 1rem 5.2rem;
    }
}

@media (max-width : 415px) {
    
    .box {
        height: 100px;
        width: 100px;
        margin: .5rem;
    }

    .para {
        margin: .8rem auto;
        font-size: 18px
    }

    .heading {
        font-size: 2rem;
    }
    .butt {
        margin-top: .8rem;
        padding: 1rem 4.6rem;
    }

}